<%= form_with(model: [anime, comment], url: anime_anime_comments_path(anime), method: :post) do |f| %>
  <%= f.text_area :comment, class:"input-mysize" %>
  <p><%= f.submit "コメント投稿", class: "btn btn-primary" %></p>
<% end %>
