<h2>（仮）コメント編集ページ</h2>


<%= form_with(model: [@anime, @comment], local: true) do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit "編集してコメント投稿" %>
<% end %>


<%= link_to "削除", anime_anime_comment_path(@anime.id, @comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>


