$("#bbb").html("<%= j(render('users/unfollow')) %>");
//$("#aaa").html("<%= j(render('users/unfollow')) %>");
$("#followers_count").html("<p style='color: black;'><%= @user.followers.count %> フォロワー</p>");
$("#following_count").html("<p style='color: black;'><%= @user.following.count %> フォロー</p>");
