$("#bbb").html("<%= j(render('users/unfollow')) %>");
//$("#aaa").html("<%= j(render('users/unfollow')) %>");
$("#followers_count").html("<p style='color: black;'>フォローワー<%= @user.followers.count %>人</p>");
$("#following_count").html("<p style='color: black;'>フォロー<%= @user.following.count %>人</p>");
