<div class="about-page">
<h2>サイト紹介</h2><br />

  <p>このサイトを作成しようと思ったきっかけは、</p>
  <p>自分自身に悩みがある時やなかなかうまく行かない時に</p>
  <p>ふと見たアニメのシーンに、やる気や感動した事を思い出して、</p>
  <p>自分以外にも、同じような経験をした人が多くいるのでは？と思い</p>
  <p>アニメの名言に特化したサイトを作成しました。</p>
</div>