<div class="container">
  <div class="main-image">
    <div class="about-page">
    <h2>サイト紹介</h2><br />
      <h3>anicoolって何？</h3><br />
      <h4>・anicoolの由来</h4>
      <p>アニメ(anime) + かっこいい(cool) = anicool</p>

      <h4>・作成理由</h4>
      <p>このサイトを作成しようと思ったきっかけは、
      自分自身に悩みがある時やなかなかうまく行かない時に
      ふと見たアニメのシーンに、やる気や感動した事を思い出して、
      自分以外にも、同じような経験をした人が多くいるのでは？と思い
      アニメの名言に特化したサイトを作成しました。</p>
    </div>
  </div>
</div>