<h2>ようこそ、anicoolへ</h2>

<p id="typist"></p>
<script>
  ityped.init('#typist', {
    strings: ['好きなアニメの名言を投稿しよう！'],
    typeSpeed: 300,
    backSpeed: 50,
    startDelay: 300,
    backDelay:  1000,
    loop: true,
    showCursor: false,
  });
</script>
