// Place all the styles related to the Animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  color: #0000ff
}

// 写真表示部分
body {
  background-color: #eee;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-wrapper {
  margin: 3rem auto;
  // width: 320px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
}

.card__header {
  display: flex;

  flex-wrap: wrap;
}

.card__title {
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  order: 1;
}

.card__thumbnail {
  margin: 0;
  order: 0;
}

.card__image {
  width: 100%;
}

.card__body {
  padding: 1rem;
}

.card__text {
  font-size: 12px;
}

.card__text + .card__text {
  margin-top: .5rem;
}

.card__text.-number {
  text-align: right;
}

.card__footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.button {
  display: inline-block;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
}

.button.-compact {
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: #26a69a;
  color: #fff;
  font-weight: bold;
}

.button.-compact:hover,
.button.-compact:focus {
  background-color: #80cbc4;
}
// ここまで写真表示部分

// 上部に空白追加
.col-lg-4 {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .card__header {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
  }
}
// 写真表示部分 ここまで