/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  height: 120px;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #87cefa;
}

.header-title {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 768px){
  .navbar-nav{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
  }
}

body {
  background-color: #E0FFFF;
  // background-image: image-url("nakama.jpg"); 確認中
  // background-image: url("haikei.jpeg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-blend-mode:screen;
  // background-color: #f5f5f5;
  // background-image: image-url("anzai.jpg");
  // background-size: contain;
  // height: 100%;
  // width: 100%;
}

main {
  width: 100%;
  margin-top: 60px;
  // height: 100vh;
}

.notice {
  color: blue;
}

.alert {
  color: red;
}

// ページネーションセンター寄せ
.p-top {
  min-width: 960px;
  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
    margin: 0 auto;
    th {
        padding: 0 15px;
    }
    td {
      padding: 0 15px;
    }
  }
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}

// フォームサイズ変更
input[type="text"]{
  width: 500px;
  height: 40px;
}

input[type="email"]{
  width: 500px;
  height: 40px;
}

input[type="password"]{
  width: 500px;
  height: 40px;
}

textarea {
  width: 500px;
  height: 150px;
}
// ここまでフォームサイズ変更
