// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-title {
  font-size: 38px;
  text-align: center;
}

#typist{
  font-size: 28px;
  text-align: center;
  color: red;
  margin: 20px;
}

.youyaku {
  text-align: center;
}

.bxslider {
  margin: 0 auto;
}